{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />

    <!-- tachyon, font-awesome import-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <script
      src="https://kit.fontawesome.com/f0ec34fd1a.js"
      crossorigin="anonymous"
    ></script>

    <!-- base css import -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <!-- block for addtional css-->
    {% block add_css %} {% endblock add_css %}

    <title>일:음</title>
  </head>
  <body>
    <!-- top-nav section -->
    <nav class="ph4 pv1 lh-solid w-100 flex justify-between items-center">
      <a class="logo" href="{% url 'home' %}">
        <img src="{% static 'images/1eum_logo.png' %}" alt="logo" />
      </a>
      <div class="w-100 ml4 flex justify-between items-center">
        <ul class="h3 flex items-center">
          <li class="mh3 br2 h2 flex">
            <input
              class="
                search-input
                input-reset
                pv2
                ph2
                h2
                f7 f7-l
                fl
                black-80
                bg-white
                br2-ns
                br--left-ns
                ba
                b--moon-gray
              "
              placeholder="검색하기"
              type="text"
              name="search"
              id="search"
            />
            <button
              class="
                h2
                ph3
                pv2
                pointer
                f7 f7-l
                button-reset
                fl
                tc
                bn
                bg-animate
                btn-beige
                white
                br2-ns
                br--right-ns
              "
              type="submit"
            >
              <i class="fas fa-search"></i>
            </button>
          </li>
          <li class="mh2">
            <a href="/explore" class="dark-gray">둘러보기</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <p class="ml7 mr3 f4 brown">{{ user.nickname }}님, 어서오세요 :)</p>
        {% else %}
        <p class="ml7 mr3 f5 brown">로그인 하고 더 많은 이야기를 나눠요! :)</p>
        {% endif %}
        <ul class="flex items-center">
          {% if user.is_authenticated %}
          <li class="mh3 f6">
            <a href="{% url 'mypage' %}" class="dark-gray">내 페이지</a>
          </li>
          <li class="mh3 f6">
            <a href="{% url 'logout' %}" class="dark-gray">로그아웃</a>
          </li>
          {% else %}
          <li class="mh3 f6">
            <a href="{% url 'login' %}" class="dark-gray">로그인</a>
          </li>
          <li class="mh3 f6">
            <a href="{% url 'signup' %}" class="dark-gray">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="mt6 pv4 ph3 ph5-m ph6-l mid-gray bt b--light-gray tc">
      <small class="f6 db tc mv3">
        © 2021 <strong>2EUM of SG-LIKELION.</strong>., All Rights Reserved
      </small>
      <a
        class="f5 mb3"
        href="https://github.com/2eum/musicdiary"
        title="Github-link"
        class="f6 dib ph2 link mid-gray dim"
      >
        Click and visit our Github!
      </a>
    </footer>
  </body>
</html>
