{% extends './base.html' %} {% load static %} {% block add_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock add_css %} {% block content %}

<section class="detail-header">
  <a href="{% url 'mypage' %}" class="go-list dark-grey">
    <i class="fas fa-chevron-left mh1"></i>
    내 글 목록으로
  </a>
</section>

<!-- Music Area -->
<section class="music-area w-70 ml-auto mr-auto mb3 flex justify-center">
  <div class="music ph3 pv3 mt5 flex vh-50 justify-center">
    <div class="img-container w-30">
      <img
        src="{{ post.track_album_cover }}"
        alt="album image"
        class="br-100 mv3 mh3 shadow-5-ns w-100"
      />
    </div>
    <div class="music-info mh5 mv3 pv4 tl w-60">
      <p class="music-title f3 mv4">{{post.track_title}}</p>
      <p class="music-artist mv4">{{post.track_artist}}</p>
      <audio class="media-player dn" src="{{ post.track_audio }}" controls>
        mp3-preview
      </audio>
      <div class="custom-player ph2 pv1 br3 tc">
        {% if post.track_audio %}
        <div class="stream-base h1 br-pill">
          <div class="stream-now h1 br-pill"></div>
        </div>
        <div class="controls flex mt2 justify-left">
          <i class="fas fa-play action-btn pointer f4 mr2"></i>
          <p>
            <span class="now-playing">0:00</span> /
            <span class="duration">0:30</span>
          </p>
        </div>
        {% else %}
        <p>재생가능한 미리듣기 음원이 없습니다</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<hr class="tc mv2 center br1" />

<!-- Diary Area -->
<section class="diary-area">
  <div class="diary w-70 ml-auto mr-auto">
    <h1 class="diary-title f2 mb0 mt5">{{post.title}}</h1>
    <div class="diary-info tr mv3">
      <h4 class="diary-author mb3 mt4 f4 dark-gray">
        작성자 : <span class="username">{{post.writer}}</span>
      </h4>
      {% if post.pub_date %}
      <h5 class="diary-date f5 dark-gray">
        {{post.pub_date|date:"Y년 n월 j일 (l) g:i"}}
      </h5>
      {% endif %}
    </div>
    <div class="diary-content mv5 lh-large f4">{{post.body|linebreaks}}</div>
    <div class="btn-area">
      {% if user.nickname == post.writer%}
      <div class="btn-left">
        <a class="mr3 mt2" href="{% url 'edit' index=post.pk %}">수정하기</a>
        <a class="mr3 mt2" href="{% url 'delete' pk=post.pk %}">삭제하기</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<script src="{% static 'js/player.js' %}"></script>

{% endblock %}
