{% extends './base.html' %} {% load static %} 
{% block add_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock add_css %}
{% block content %} 

<main>
  <section class="home-banner-container">
    <section class="content-area w-80 ml-auto mr-auto">
      <article
        class="
          home-content-container
          flex flex-column
          justify-center
          items-center
          w-100
          pa4
        "
      >
        <h2 class="f4 mt2 mb2 fw3 shady o-70">
          {% now "Y" %}년 {% now "M" %} {% now "j" %}일
        </h2>
        <p class="home-title tc f1 mv3 fw4">누군가의 오늘 하루, 그리고 음악.</p>
        <section class="switchables ph5">
          {% if posts_list|length < 1 %}
            <div>
              <p class="tc f3 mv3">아직 아무도 오늘의 일기를 쓰지 않았아요 :(</p>
              <p class="tc f3 mv3">오늘의 첫 글을 작성해주실래요?</p>
            </div>
          {% else %}
            {% for post in posts_list %} 
              {% if forloop.first %}
                <div
                  class="
                    entry
                    current
                    mt2
                    ph4
                    pv4
                    justify-between
                    br2
                    w-100
                  "
                >
              {% else %}
                <div class="entry ph4 pv4 justify-between br2 w-100">
              {% endif %}
              <button class="prev bn pointer f3">
                <i class="fas fa-chevron-left"></i>
              </button>
              <div class="preview-music ph3 pv3 h-100 tc w-30">
                <img
                  src="{{ post.track_album_cover }}"
                  alt="album-image"
                  class="br-100 w-100"
                />
                <p class="music-title f5 ma2 mt3">{{post.track_title}}</p>
                <p class="music-artist f7 ma2">{{post.track_artist}}</p>
                <audio
                  class="media-player dn"
                  src="{{ post.track_audio }}"
                  controls
                >
                  mp3-preview
                </audio>
                <div class="custom-player ph2 pv1 br3">
                  {% if post.track_audio %}
                  <div class="stream-base h1 br-pill">
                    <div class="stream-now h1 br-pill"></div>
                  </div>
                  <div class="controls flex mt3 justify-center">
                    <i class="fas fa-play action-btn pointer f4 mr2"></i>
                    <p>
                      <span class="now-playing">0:00</span> /
                      <span class="duration">0:30</span>
                    </p>
                  </div>
                  {% else %}
                  <p>재생가능한 미리듣기 음원이 없습니다</p>
                  {% endif %}
                </div>
              </div>
              <div
                class="
                  preview-text
                  w-60
                  ph3
                  pv3
                  flex flex-column
                  justify-around
                  h-100
                "
              >
                <h3 class="diary-title f3 mt4 mb3 h-25 fw3">
                  <a href="{% url 'detail' index=post.pk %}">{{post.title|truncatechars_html:30}}</a>
                  <span class="ml2 f5 o-80">by {{post.writer}}</span>
                </h3>
                <p class="diary-text-preview lh-large h-75">{{post.body|truncatechars_html:150}}</p>
              </div>
              <button class="next bn pointer f3">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        </section>
      </article>
    </section>
  </section>
  <section class="create-post mv6 tc">
    <p class="f2 mt6 mb4">
      오늘, <span class="pink-emp">당신의 하루</span>는 어떤
      <span class="pink-emp">선율</span>이었나요?
    </p>
    <a
      class="
        mv5
        dib
        b
        ph4
        pv2
        input-reset
        bn
        br2
        grow
        pointer
        f4
        create-btn
        hover-white
      "
      href="{% url 'new' %}"
      >내 이야기 쓰러 가기</a
    >
  </section>
</main>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
