{% extends './base.html' %} {% load static %} {% block add_css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock add_css %} {% block content %}
<!-- Header content -->
<section
  class="header-content pa4 flex flex-column items-center justify-around tc"
>
  <p class="shady f3 mv3">{% now "Y" %}년 {% now "M" %} {% now "j" %}일</p>
  <h1 class="greeting shady f1">
    <span class="username shady fw6">{{ user.nickname }}</span>님, 오늘은 어떤
    하루였나요?
  </h1>
  <a
    class="create-btn mv5 ph4 pv2 dib input-reset bn br2 grow pointer f4"
    href="{% url 'new' %}"
    >오늘의 일기 쓰기</a
  >
</section>
<!-- main content-area -->
<main>
  <section class="content-area flex flex-column w-80 ml-auto mr-auto">
    <h1 class="content-title mt5 mb4">나의 일기</h1>
    <ul class="viewtab flex justify-end">
      <li class="view br pr3 ma3">
        <a href="{% url 'mypage' %}">리스트 보기</a>
      </li>
      <li class="view mv3"><a class="current" href="{% url 'mypage-cal' %}">달력 보기</a></li>
    </ul>

    <!-- calendar -->
    <div class="calendar pb5">
      <div class="calendar_header">
        <div class="year-month f3">
          <span class="cal-year"></span>년 <span class="cal-month"></span>월
        </div>
        <div class="cal-nav">
          <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
          <button class="nav-btn go-today" onclick="goToday()">오늘</button>
          <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
        </div>
      </div>
      <div class="calendar_main">
        <div class="cal-days">
          <div class="cal-day">일</div>
          <div class="cal-day">월</div>
          <div class="cal-day">화</div>
          <div class="cal-day">수</div>
          <div class="cal-day">목</div>
          <div class="cal-day">금</div>
          <div class="cal-day">토</div>
        </div>
        <div class="cal-dates"></div>
      </div>
    </div>

    {% for c in contents %}
    <div class='dn on{{c.pub_date|date:"Y-n-j"}}'>
      <p class="img-src">{{c.track_album_cover}}</p>
      <p class="id">{{c.id}}</p>
    </div>

    {% endfor %}
    <script src="{% static 'js/calendar/calendar.js' %}"></script>
  </section>
</main>
{% endblock %}
