{% extends './base.html' %} {% load static %} {% block add_css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
{% endblock add_css %} {% block content %}
<main class="register-container ph4 pv1 mv4 black-80 w-80 center">
  <form
    method="post"
    action="{% url 'signup' %}"
    class="measure-narrow center ph4 pv5"
  >
    {% csrf_token %}
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f3 ph0 mh0 pb3 tc fw5 brown">회원가입</legend>
      <div class="pt4 mb3 bt bw1 br-brown">
        <label for="username">아이디</label>
        <input
          class="
            pa2
            input-reset
            ba
            bg-transparent
            w-100
            b--moon-gray
            fw3
            mv2
            br2
            f6
          "
          type="text"
          name="username"
          id="username"
          placeholder="공백없이 영문, 숫자포함 6-12자"
        />
        {% if form.username.errors %} {{form.username.errors}} {% endif %}
      </div>
      <div class="mb3 mt3">
        <label for="password1">비밀번호</label>
        <input
          class="
            b
            pa2
            input-reset
            ba
            bg-transparent
            w-100
            b--moon-gray
            fw3
            mv2
            br2
            f6
          "
          type="password"
          name="password1"
          id="password1"
          placeholder="공백없이 영문, 숫자포함 6-20자"
        />
        {% if form.password1.errors %} {{form.password1.errors}} {% endif %}
      </div>
      <div class="mb3 mt3">
        <label for="password2">비밀번호 확인</label>
        <input
          class="
            b
            pa2
            input-reset
            ba
            bg-transparent
            w-100
            b--moon-gray
            fw3
            mv2
            br2
            f6
          "
          type="password"
          name="password2"
          id="password2"
          placeholder="비밀번호 재입력"
        />
        {% if form.password2.errors %} {{form.password2.errors}} {% endif %}
      </div>

      <div class="mb3 mt3">
        <label for="user_email">이메일 주소</label>
        <input
          class="
            pa2
            input-reset
            ba
            bg-transparent
            w-100
            b--moon-gray
            fw3
            mv2
            br2
            f6
          "
          type="email"
          name="user_email"
          id="email"
          placeholder="이메일 주소"
        />
        {% if form.user_email.errors %} {{form.user_email.errors}} {% endif %}
      </div>

      <div class="mb3 mt2">
        <label for="nickname">닉네임</label>
        <input
          class="
            pa2
            input-reset
            ba
            bg-transparent
            w-100
            b--moon-gray
            fw3
            mv2
            br2
            f6
          "
          type="text"
          name="nickname"
          id="nickname"
          placeholder="닉네임"
        />
        {% if form.nickname.errors %} {{form.nickname.errors}} {% endif %} 
        {% if messages %}
        <ul class="errorlist">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if form.non_field_errors %} {{form.non_field_errors}} {% endif %}
    </fieldset>

    <div class="tc">
      <input
        class="b ph3 pv2 input-reset bn br2 grow pointer f5 dib btn-beige w-100"
        type="submit"
        value="가입하기"
      />
    </div>
    <div class="lh-copy mt4 tc">
      <a href="{% url 'login' %}" class="f6 link dim black db mb2">로그인</a>
    </div>
  </form>
</main>

{% endblock %}
